<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <nav>
        <%- include('../partials/nav') %>
    </nav>

    <%- include('../partials/sidebar') %>

    <div class="Content">
        <div class="MainGrid">
            <div class="TimeslotBox" style="margin-left: .5em; font-family: Helvetica;">
                <h1 style="padding: 0%;">Welcome to Our Radio Station</h1>
                <p>Explore the fantastic world of music with us!</p>
            </div>

            <div class="DjList" style="font-family: Helvetica; font-size: 1em; text-align: center;">
                <h1>Upcoming Shows</h1>
            </div>
        </div>
    </div>
</body>
</html>