<!-- File: _nav.ejs -->
<div class="NavLeft">
    <img class="NavImg" src="">
    <p class="Text NavLabel">Station</p>
</div>

<div class="NavRight">
    <ul>
        <li><a href="/home" class="Text">Home</a></li>
        <li><a href="/" class="Text">Producer</a></li>
        <li><a href="Stations" class="Text">Stations</a></li>
        <li><a href="Artists" class="Text">Artists</a></li>
        <li><a href="Settings" class="Text">Settings</a></li>
    </ul>
</div>